<aside class="sidebar fixed h-screen">
  <div class="sidebar-wrapper flex flex-col h-full w-full overflow-auto">
    <div class="sidebar-header flex-shrink-0 flex-grow-0">
      <ng-content select="[header]"></ng-content>

    </div>
    <div class="sidebar-menu flex-grow flex-shrink-0 overflow-y-auto overflow-x-hidden">
      <ng-content select="[menu]"></ng-content>
    </div>
    <div class="sidebar-footer flex-shrink-0 flex-grow-0">
      <ng-content select="[footer]"></ng-content>

    </div>
  </div>
</aside>
